[submodule "vim/vimfolder/bundle/syntastic"]
	path = vim/vimfolder/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "packages/emacs/dotfiles/.emacs.d"]
	path = packages/emacs/dotfiles/.emacs.d
	url = https://github.com/plexus/chemacs2.git
[submodule "packages/emacs/dotfiles/.emacs-profiles.d/doom"]
	path = packages/emacs/dotfiles/.emacs.d
	url = https://github.com/hlissner/doom-emacs.git
[submodule "packages/zsh/dotfiles/.p10k"]
	path = packages/zsh/dotfiles/.p10k
	url = https://github.com/romkatv/powerlevel10k.git
