[submodule "vim/vimfolder/bundle/file-line"]
	path = vim/vimfolder/bundle/file-line
	url = https://github.com/bogado/file-line
[submodule "vim/vimfolder/bundle/fugitive"]
	path = vim/vimfolder/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vimfolder/bundle/vim-toml"]
	path = vim/vimfolder/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/vimfolder/bundle/nerdtree"]
	path = vim/vimfolder/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfolder/bundle/syntastic"]
	path = vim/vimfolder/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vimfolder/bundle/neocomplete.vim"]
	path = vim/vimfolder/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/vimfolder/bundle/valgrind.vim"]
	path = vim/vimfolder/bundle/valgrind.vim
	url = https://github.com/vim-scripts/valgrind.vim
[submodule "vim/vimfolder/bundle/tagbar"]
	path = vim/vimfolder/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/vimfolder/bundle/vimproc.vim"]
	path = vim/vimfolder/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/vimfolder/bundle/cscope-maps"]
	path = vim/vimfolder/bundle/cscope-maps
	url = https://github.com/joe-skb7/cscope-maps.git
[submodule "vim/vimfolder/bundle/rust.vim"]
	path = vim/vimfolder/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/vimfolder/bundle/vim-distinguished"]
	path = vim/vimfolder/bundle/vim-distinguished
	url = https://github.com/lokaltog/vim-distinguished.git
[submodule "vim/vimfolder/bundle/vim-marching"]
	path = vim/vimfolder/bundle/vim-marching
	url = https://github.com/osyo-manga/vim-marching.git
[submodule "vim/vimfolder/bundle/buffergator"]
	path = vim/vimfolder/bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "vim/vimfolder/bundle/vim-vividchalk"]
	path = vim/vimfolder/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "vim/vimfolder/bundle/vim-airline"]
	path = vim/vimfolder/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/vimfolder/bundle/ctrlp"]
	path = vim/vimfolder/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "zsh/zshfolder/prompts/zsh-git-prompt"]
	path = zsh/zshfolder/prompts/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "zsh/zshfolder/zsh-config"]
	path = zsh/zshfolder/zsh-config
	url = https://github.com/rust-lang/zsh-config.git
[submodule "vim/vimfolder/bundle/vim-unimpaired"]
	path = vim/vimfolder/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
