[Desktop Entry]
Name=1Password Browser Helper
GenericName=1Password Browser Helper
Comment=Allows the browser plugin to interact with the 1Password database
Exec=env WINEPREFIX="/home/sindre/.wine" wine "/home/sindre/.wine/drive_c/Program\ Files\ (x86)/1Password\ 4/Agile1pAgent.exe"
Type=Application
StartupNotify=true
Path=/home/sindre/.wine/drive_c/Program\ Files\ (x86)/1Password\ 4
Icon=C775_1Password.0
StartupWMClass=Agile1pAgent.exe
